---
layout: default
title: Blog | Moby Diction
pagination:
  data: collections.posts
  size: 2

---
<h1>Blog</h1>

{% for post in pagination.items %}
    <h2>{{ post.data.title }}</h2>
    <p>{{ post.data.description }}</p>
    <a href="{{ post.url }}">Read more</a>
{% endfor %}

<br>
<br>
<hr>

<center>
{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous</a>
{% endif %}

{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next</a>
{% endif %}
</center>
