---
layout: default
title: Blog | Moby Diction
pagination:
  data: collections.posts
  size: 10
---
<h1>Blog</h1>

<div class="container" "container-fluid">

  {% for post in pagination.items %}
    <div class="row">
      <div class="col-4">
        <a href="{{post.url}}"><img src="{{post.featuredImage}}"></a>
        </div>
      <div class="col-8">
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.data.description }}</p>
        <a href="{{ post.url }}">Read more</a>
      </div>
    </div>
  {% endfor %}

</div>

<center>
{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous</a>
{% endif %}

{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next</a>
{% endif %}
</center>
