---
layout: default
title: Blog
pagination:
  data: collections.posts
  size: 10
---


  {% for post in pagination.items %}
    <div class="row">

        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.description }}</p>
        <button type="button" class="btn btn-link"><a href="{{ post.url }}">Read more</a></button>

    </div>
    <hr> 
  {% endfor %}


<center>
  <hr>
{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous</a>
{% endif %}

{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next</a>
{% endif %}
</center>
