<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

  <div class="container">


    <header class="page-header">

      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
         <a href="/" class="page-header__logo" title="Go home">
             <img src="/assets/avatar.png" alt="" width="120">
         </a>

         <nav class="my-2 my-md-0 mr-md-3">
           <a class="p-2 text-dark" href="/">Home</a>
           <a class="p-2 text-dark" href="/posts">Blog</a>
           <a class="p-2 text-dark" href="/notes">Notes</a>
           <a class="p-2 text-dark" href="/about">About</a>
         </nav>

     </div>
    </header>


<!--
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notes">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
-->


    <main>
        {{content}}
    </main>


    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</div>
</body>
</html>
