---
layout: default
title: Notes
pagination:
  data: collections.notes
  size: 10
  reverse: true
---

<div class="container container-fluid">

  <div class="col-sm-4 py-2">
      <div class="card card-body h-100">
          Card. I'm just a simple card-block.
      </div>
      <div class="card text-white bg-primary">
          <div class="card-body">
              <h3 class="card-title">Hello</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-outline-light">Outline</a>
          </div>
      </div>

  </div>

  <div class="col-sm-4 py-2">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h3 class="card-title">Hello</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-outline-light">Outline</a>
            </div>
        </div>
    </div>


   <div class="row py-4">
     <div class="row">
       <div class="col-md-8 px-0 mx auto">
         <div class="card-deck">
           {% for post in pagination.items %}
            <div class="card">
              <div class="card-body">
                <p class="card-text">{{ post.data.title }}</p>
                <button type="button" class="btn btn-link"><a href="{{ post.url }}">Read more</a></button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
